{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
          <h1>About</h1>
          <p class="card-text">This project tries to develop an end-to-end social media platform using Django and aims at providing software development and implementation approaches to develop an end-to-end social media web application using Django and Django Rest Framework Which users can access through web browsers such as Google Chrome, Mozilla Firefox, Safari, etc.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}