{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
          <h1>Privacy Policy</h1>
          <p class="card-text"><strong>When you visit our website or use our services, we may collect personal information such as:</strong></p>
          <p class="card-text">- Name</p>
          <p class="card-text">- Email address</p>
           <p class="card-text">-Phone number</p>
            <p class="card-text">-Username and password (if you create an account)</p>
             <p class="card-text">-Location (if you share it with us)</p>
              <p class="card-text">-IP address and device information (such as browser type and operating system)</p>

 <p class="card-text"><strong>We may also collect additional information, such as:</strong></p>

          <p class="card-text">-Information you provide when you contact us or fill out forms on our website</p>
            <p class="card-text">-Information about your interactions with our website, such as pages you visit and links you click</p>
            <p class="card-text">-Information about your device, such as device type and operating system</p>

<p class="card-text"><strong> use this information to:</strong></p>

<p class="card-text">-Provide and improve our services</p>
<p class="card-text">-Personalize your experience</p>
<p class="card-text">-Respond to your inquiries</p>
<p class="card-text">-Send you newsletters and marketing communications (if you opt-in)</p>
<p class="card-text">-Analyze and improve our website and services</p>

<p class="card-text"><b>We take your privacy seriously and follow industry standards to protect your personal information. If you have any questions or concerns, please feel free to ask!</b></p>

          <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}